<% content_for :banner do %>
<div class="banner-grid">
  <div id="visual">
      <div class="slide-visual">
        <!-- Slide Image Area (1000 x 424) -->
        <ul class="slide-group">
          <li><%= image_tag "ba1.jpg", class: "img-responsive" %></li>
          <li><%= image_tag "ba2.jpg", class: "img-responsive" %></li>
          <li><%= image_tag "ba3.jpg", class: "img-responsive" %></li>
        </ul>

        <!-- Slide Description Image Area (316 x 328) -->
        <div class="script-wrap">
          <ul class="script-group">
            <li><div class="inner-script"><%= image_tag "baa1.jpg", class: "img-responsive" %></div></li>
            <li><div class="inner-script"><%= image_tag "baa2.jpg", class: "img-responsive" %></div></li>
            <li><div class="inner-script"><%= image_tag "baa3.jpg", class: "img-responsive" %></div></li>
          </ul>
          <div class="slide-controller">
            <a href="#" class="btn-prev"><%= image_tag "btn_prev.png", alt: "Prev Slide" %></a>
            <a href="#" class="btn-play"><%= image_tag "btn_play.png", alt: "Start Slide" %></a>
            <a href="#" class="btn-pause"><%= image_tag "btn_pause.png", alt: "Pause Slide" %></a>
            <a href="#" class="btn-next"><%= image_tag "btn_next.png", alt: "Next Slide" %></a>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  <script type="text/javascript">
  //<![CDATA[
    $(window).load(function() {
      $('#visual').pignoseLayerSlider({
        play    : '.btn-play',
        pause   : '.btn-pause',
        next    : '.btn-next',
        prev    : '.btn-prev'
      });
    });
  //]]>
  </script>
</div>
<% end %>

<% content_for :content do %>
<div class="new_arrivals"  data-turbolinks ="false">
  <div class="container">
    <h3><span>new </span>arrivals</h3>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
    <div class="new_grids">
      <div class="col-md-4 new-gd-left">
        <%= image_tag "wed1.jpg" %>
        <div class="wed-brand simpleCart_shelfItem">
          <h4>Wedding Collections</h4>
          <h5>Flat 50% Discount</h5>
          <p><i>$250</i> <span class="item_price">$500</span><a class="item_add hvr-outline-out button2" href="#">add to cart </a></p>
        </div>
      </div>
      <div class="col-md-4 new-gd-middle">
        <div class="new-levis">
          <div class="mid-img">
            <%= image_tag "levis1.png" %>
          </div>
          <div class="mid-text">
            <h4>up to 40% <span>off</span></h4>
            <a class="hvr-outline-out button2" href="product.html">Shop now </a>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="new-levis">
          <div class="mid-text">
            <h4>up to 50% <span>off</span></h4>
            <a class="hvr-outline-out button2" href="product.html">Shop now </a>
          </div>
          <div class="mid-img">
            <%= image_tag "dig.jpg" %>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-4 new-gd-left">
        <%= image_tag "wed2.jpg" %>
        <div class="wed-brandtwo simpleCart_shelfItem">
          <h4>Spring / Summer</h4>
          <p>Shop Men</p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //content -->

<!-- content-bottom -->

<div class="content-bottom" data-turbolinks="false">
  <div class="col-md-7 content-lgrid">
    <div class="col-sm-6 content-img-left text-center">
      <div class="content-grid-effect slow-zoom vertical">
        <div class="img-box"><%= image_tag "p1.jpg", class: "img-responsive zoom-img" %></div>
          <div class="info-box">
            <div class="info-content simpleCart_shelfItem">
                  <h4>Mobiles</h4>
                  <span class="separator"></span>
                  <p><span class="item_price">$500</span></p>
                  <span class="separator"></span>
                  <a class="item_add hvr-outline-out button2" href="#">add to cart </a>
            </div>
          </div>
      </div>
    </div>
    <div class="col-sm-6 content-img-right">
      <h3>Special Offers and 50%<span>Discount On</span> Mobiles</h3>
    </div>

    <div class="col-sm-6 content-img-right">
      <h3>Buy 1 get 1  free on <span> Branded</span> Watches</h3>
    </div>
    <div class="col-sm-6 content-img-left text-center">
      <div class="content-grid-effect slow-zoom vertical">
        <div class="img-box"><%= image_tag "p2.jpg", alt:"p2.jpg", class: "img-responsive zoom-img" %></div>
          <div class="info-box">
            <div class="info-content simpleCart_shelfItem">
              <h4>Watches</h4>
              <span class="separator"></span>
              <p><span class="item_price">$250</span></p>
              <span class="separator"></span>
              <a class="item_add hvr-outline-out button2" href="#">add to cart </a>
            </div>
          </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="col-md-5 content-rgrid text-center">
    <div class="content-grid-effect slow-zoom vertical">
        <div class="img-box"><%= image_tag "p4.jpg", alt:"p4.jpg", class:"img-responsive zoom-img" %></div>
          <div class="info-box">
            <div class="info-content simpleCart_shelfItem">
                  <h4>Shoes</h4>
                  <span class="separator"></span>
                  <p><span class="item_price">$150</span></p>
                  <span class="separator"></span>
                  <a class="item_add hvr-outline-out button2" href="#">add to cart </a>
            </div>
          </div>
      </div>
  </div>
  <div class="clearfix"></div>
</div>
<!-- //content-bottom -->
<!-- product-nav -->
<div class="product-easy" data-turbolinks="false">
  <div class="container">
    <%= javascript_include_tag "easyResponsiveTabs" %>
      <script type="text/javascript">
      $(document).ready(function() {
        $('#horizontalTab').easyResponsiveTabs({
          type: 'default', //Types: default, vertical, accordion
          width: 'auto', //auto or any width like 600px
          fit: true // 100% fit in a container
        });
      });
      </script>
      <div class="sap_tabs">
        <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
          <ul class="resp-tabs-list">
            <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Latest Designs</span></li>
            <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Special Offers</span></li>
            <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>Collections</span></li>
          </ul>
          <div class="resp-tabs-container">
            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
              <% @latest_product.each do |product| %>
                <div class="col-md-3 product-men yes-marg">
                  <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                      <%= image_tag product.image, alt:product.image, class:"pro-image-front" %>
                      <%= image_tag product.image, alt:product.image, class:"pro-image-back" %>
                      <div class="men-cart-pro">
                        <div class="inner-men-cart-pro">
                          <%= link_to "Quick View", product_path(product.id), class: "link-product-add-cart" %>
                        </div>
                      </div>
                      <span class="product-new-top">New</span>
                    </div>
                    <div class="item-info-product ">
                      <h4><%= link_to product.name, product_path(product.id), class:"item_name" %></h4>
                      <div class="info-product-price">
                        <span class="item_price">$<%= product.price %></span>
                      </div>
                      <a href="#" class="item_add single-item hvr-outline-out button2">Add to cart</a>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="clearfix"></div>
            </div>
            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
              <% @special_product.each do |sp_product| %>
                <div class="col-md-3 product-men yes-marg">
                  <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                      <%= image_tag sp_product.image, alt:sp_product.image, class:"pro-image-front" %>
                      <%= image_tag sp_product.image, alt:sp_product.image, class:"pro-image-back" %>
                      <div class="men-cart-pro">
                        <div class="inner-men-cart-pro">
                          <%= link_to "Quick View", product_path(sp_product.id), class: "link-product-add-cart" %>
                        </div>
                      </div>
                      <span class="product-new-top">New</span>
                    </div>
                    <div class="item-info-product ">
                      <h4><%= link_to sp_product.name, product_path(sp_product.id), class:"item_name" %></h4>
                      <div class="info-product-price">
                        <span class="item_price">$<%= sp_product.price %></span>
                      </div>
                      <a href="#" class="item_add single-item hvr-outline-out button2">Add to cart</a>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="clearfix"></div>
            </div>
            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
              <% @collection.each do |col_product| %>
                <div class="col-md-3 product-men yes-marg">
                  <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                      <%= image_tag col_product.image, alt:col_product.image, class:"pro-image-front" %>
                      <%= image_tag col_product.image, alt:col_product.image, class:"pro-image-back" %>
                      <div class="men-cart-pro">
                        <div class="inner-men-cart-pro">
                          <%= link_to "Quick View", product_path(col_product.id), class: "link-product-add-cart" %>
                        </div>
                      </div>
                      <span class="product-new-top">New</span>
                    </div>
                    <div class="item-info-product ">
                      <h4><%= link_to col_product.name, product_path(col_product.id), class:"item_name" %></h4>
                      <div class="info-product-price">
                        <span class="item_price">$<%= col_product.price %></span>
                      </div>
                      <a href="#" class="item_add single-item hvr-outline-out button2">Add to cart</a>
                    </div>
                  </div>
                </div>
              <% end %>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<!-- //product-nav -->
<%= render "layouts/coupons" %>
<% end %>
