<% content_for :banner do %>
  <div class="page-head">
    <div class="container">
      <h3><%= @cate.name %></h3>
    </div>
  </div>
<% end %>

<% content_for :content do %>
<div class="men-wear" data-turbolinks="false">
  <div class="container">
    <div class="col-md-4 products-left">
      <div class="filter-price">
        <h3>Filter By Price</h3>
        <ul class="dropdown-menu6">
          <li>
            <div id="slider-range"></div>
            <input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />
          </li>
        </ul>
        <!---->
        <script type='text/javascript'>
        //<![CDATA[
        $(window).load(function() {
          $("#slider-range").slider({
            range: true,
            min: 0,
            max: 9000,
            values: [1000, 7000],
            slide: function(event, ui) {
              $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
            }
          });
          $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

        }); //]]>
        </script>
        <!---->
      </div>
      <div class="css-treeview">
        <h4>Categories</h4>
        <ul class="tree-list-pad">
          <li>
            <input type="checkbox" checked="checked" id="item-0" />
            <label for="item-0"><span></span>Men's Wear</label>
            <ul>
              <% @m_categories.each do |cate| %>
                <li><%= link_to cate.name, category_path(cate.id) %></li>
              <% end %>
            </ul>
          </li>
          <li>
            <input type="checkbox" checked="checked" id="item-1" />
            <label for="item-1"><span></span>Women's Wear</label>
            <ul>
              <% @w_categories.each do |cate| %>
                <li><%= link_to cate.name, category_path(cate.id) %></li>
              <% end %>
            </ul>
          </li>
          <li>
            <input type="checkbox" checked="checked" id="item-2" />
            <label for="item-2"><span></span>Watches</label>
            <ul>
              <% @watches.each do |cate| %>
                <li><%= link_to cate.name, category_path(cate.id) %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
      <div class="community-poll">
        <h4>Community Poll</h4>
        <div class="swit form">
          <form>
            <div class="check_box">
              <div class="radio">
                <label>
                  <input type="radio" name="radio" checked=""><i></i>More convenient for shipping and delivery</label>
              </div>
            </div>
            <div class="check_box">
              <div class="radio">
                <label>
                  <input type="radio" name="radio"><i></i>Lower Price</label>
              </div>
            </div>
            <div class="check_box">
              <div class="radio">
                <label>
                  <input type="radio" name="radio"><i></i>Bigger Choice</label>
              </div>
            </div>
            <div class="check_box">
              <div class="radio">
                <label>
                  <input type="radio" name="radio"><i></i>More colors to choose</label>
              </div>
            </div>
            <div class="check_box">
              <div class="radio">
                <label>
                  <input type="radio" name="radio"><i></i>Secured Payment</label>
              </div>
            </div>
            <div class="check_box">
              <div class="radio">
                <label>
                  <input type="radio" name="radio"><i></i>Money back guaranteed</label>
              </div>
            </div>
            <div class="check_box">
              <div class="radio">
                <label>
                  <input type="radio" name="radio"><i></i>Others</label>
              </div>
            </div>
            <input type="submit" value="SEND">
          </form>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-8 products-right">
      <h5>Product Compare(0)</h5>
      <div class="sort-grid">
        <div class="sorting">
          <h6>Sort By</h6>
          <select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
            <option value="null">Default</option>
            <option value="null">Name(A - Z)</option>
            <option value="null">Name(Z - A)</option>
            <option value="null">Price(High - Low)</option>
            <option value="null">Price(Low - High)</option>
            <option value="null">Model(A - Z)</option>
            <option value="null">Model(Z - A)</option>
          </select>
          <div class="clearfix"></div>
        </div>
        <div class="sorting">
          <h6>Showing</h6>
          <select id="country2" onchange="change_country(this.value)" class="frm-field required sect">
            <option value="null">7</option>
            <option value="null">14</option>
            <option value="null">28</option>
            <option value="null">35</option>
          </select>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="men-wear-top">
        <script src="js/responsiveslides.min.js"></script>
        <script>
        // You can also use "$(window).load(function() {"
        $(function() {
          // Slideshow 4
          $("#slider3").responsiveSlides({
            auto: true,
            pager: true,
            nav: false,
            speed: 500,
            namespace: "callbacks",
            before: function() {
              $('.events').append("<li>before event fired.</li>");
            },
            after: function() {
              $('.events').append("<li>after event fired.</li>");
            }
          });
        });
        </script>
        <div id="top" class="callbacks_container">
          <ul class="rslides" id="slider3">
            <li>
              <%= image_tag "men21.jpg", alt:"men21.jpg", class:"img-responsive" %>
            </li>
            <li>
              <%= image_tag "men11.jpg", alt:"men11.jpg", class:"img-responsive" %>
            </li>
            <li>
              <%= image_tag "men21.jpg", alt:"men21.jpg", class:"img-responsive" %>
            </li>
            <li>
              <%= image_tag "men11.jpg", alt:"men11.jpg", class:"img-responsive" %>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="men-wear-bottom">
        <div class="col-sm-4 men-wear-left">
          <%= image_tag "men31.jpg", alt:"men31.jpg", class:"img-responsive"%>
        </div>
        <div class="col-sm-8 men-wear-right">
          <h4>Exclusive Women's Collections</h4>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. </p>
        </div>
        <div class="clearfix"></div>
      </div>
      <% if @pro_of_cate != [] %>
        <% @pro_of_cate.each do |product| %>
          <div class="col-md-4 product-men">
            <div class="men-pro-item simpleCart_shelfItem">
              <div class="men-thumb-item">
                <%= image_tag product.image, alt:product.image, class:"pro-image-front" %>
                <%= image_tag product.image, alt:product.image, class:"pro-image-back" %>
                <div class="men-cart-pro">
                  <div class="inner-men-cart-pro">
                    <%= link_to "Quick View", product_path(product.id), class: "link-product-add-cart" %>
                  </div>
                </div>
                <span class="product-new-top">New</span>
              </div>
              <div class="item-info-product ">
                <h4><%= link_to product.name, product_path(product.id), class:"item_name" %></h4>
                <%= form_for @order_item, remote: true do |f| %>
                  <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency product.price %></span></h4>
                    <div class="input-group">
                      <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
                      <div class="input-group-btn">
                        <%= f.hidden_field :product_id, value: product.id %>
                        <%= f.submit "Add to Cart", class: "btn btn-primary", "data-turbolinks":false %>
                      </div>
                    </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= "--- Information not found ---" %>
      <% end %>
      <div class="clearfix"></div>
    </div>
    <div class="text-right">
      <ul class="flickr_pagination">
        <%= will_paginate @pro_of_cate %>
      </ul>
    </div>
  </div>
</div>
<% end %>
