<% content_for :banner do %>
  <div class="page-head">
    <div class="container">
      <h3>Search</h3>
    </div>
  </div>
<% end %>

<% content_for :content do %>
<div class="men-wear">
  <div class="container">
    <% @product.each do |product| %>
      <div class="col-md-3 product-men yes-marg">
        <div class="men-pro-item simpleCart_shelfItem">
          <div class="men-thumb-item">
            <%= image_tag product.image, alt:product.image, class:"pro-image-front" %>
            <%= image_tag product.image, alt:product.image, class:"pro-image-back" %>
            <div class="men-cart-pro">
              <div class="inner-men-cart-pro">
                <%= link_to "Quick View", product_path(product.id), class: "link-product-add-cart" %>
              </div>
            </div>
            <span class="product-new-top">New</span>
          </div>
          <div class="item-info-product ">
            <h4><%= link_to product.name, product_path(product.id), class:"item_name" %></h4>
            <div class="occasion-cart">
              <%= form_for @order_item, remote: true do |f| %>
                <div class="info-product-price description">
                  <h5>Unit Price: <span style="color: green"><%= number_to_currency product.price %></span></h5>
                </div>
                <div class="input-group add-to-cart">
                  <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
                  <div class="input-group-btn">
                    <%= f.hidden_field :product_id, value: product.id %>
                    <%= f.submit "Add to Cart", class: "btn btn-primary input-group-button", "data-turbolinks":false %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="clearfix"></div>
  <div class="text-right">
    <ul class="flickr_pagination">
      <%= will_paginate @product %>
    </ul>
  </div>
</div>
<% end %>
